body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.defaultIceCream {
  max-width: 200px;
  max-height: 200px;
}

button {
  margin: 0.5rem;
}

/* Single Product */
.singleProduct {
  margin-left: 1rem;
}

.singleProduct #cartbtn form {
  max-height: 45px;
}

.singleProduct > .quantity,
label,
input {
  margin-left: 0.5rem;
}

/* Add To Cart */
#cartMessage > p {
  margin: 0em;
}
.notVisible {
  visibility: hidden;
}

.addToCart {
  background-color: rgb(255, 205, 80);
  border: none;
  color: black;
  max-width: 8rem;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-bottom: solid 4px #413017;
  border-radius: 20px;
  cursor: pointer;
  margin: 0px;
}
.addToCart:hover {
  color: currentColor;
  background-color: rgb(243, 210, 63);
  border-bottom: solid 4px #413017;
  border-color: goldenrod;
}
.addToCart:active {
  background-color: rgb(83, 216, 83);
  transform: translateY(4px); /*Move down*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*Reduce Shadow*/
  border-bottom: none;
}
